
<section class="about">
    <h1>Quiénes Somos</h1>
    <p>En Aguas Frías, llevamos años creando bebidas refrescantes y naturales que deleitan a nuestros clientes.</p>

    <h2>Misión</h2>
    <p>Ofrecer productos naturales, refrescantes y de alta calidad para todos.</p>

    <h2>Visión</h2>
    <p>Ser reconocidos como los líderes en la industria de refrescos naturales.</p>

    <h2>Conoce a nuestro equipo</h2>
    <div class="team">
        <div>
            <img src="https://via.Bolivia.com/150" alt="Juan Pérez">
            <p>Jesus Laura Callisaya - Fundador</p>
        </div>
        <div>
            <img src="https://via.Bolivia.com/150" alt="María López">
            <p>Lionel Sanchez - Jefe de Producción</p>
        </div>
    </div>
</section>

