<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aguas frías</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Inicio</a></li>
                <li><a href="{{ url_for('about') }}">Quiénes Somos</a></li>
                <li><a href="{{ url_for('services') }}">Servicios</a></li>
                <li><a href="{{ url_for('news') }}">Noticias</a></li>
                <li><a href="{{ url_for('contact') }}">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
       
    </main>

    <footer>
        <p>&copy; 2024 Aguas frías | <a href="#">Facebook</a> | <a href="#">Twitter</a> | <a href="#">Instagram</a></p>
    </footer>
</body>
</html>
