
<section class="news">
    <h1>Noticias Recientes</h1>
    <article>
        <img src="https://via.Bolivia.com/200" alt="Noticia 1">
        <h2>Nueva Línea de Sabores Exóticos</h2>
        <p>Descubre nuestra nueva línea de sabores que te llevarán a un viaje de frescura y sabor.</p>
    </article>
    <article>
        <img src="https://via.Bolivia.com/200" alt="Noticia 2">
        <h2>Aguas Frías en la Feria Internacional</h2>
        <p>Estamos emocionados de anunciar nuestra participación en la feria internacional de bebidas 2024.</p>
    </article>
</section>


